<div class="col-md-3 col-sm-12 pd-left">
  <div class="footer-link-wrapper">
    <ul class="footer-list-item">
      {% block content %}
        {{ content }}
      {% endblock %}
    </ul>
  </div>
</div>
