<div class="faq-body">
  <div class="faq-question">
    <span class="btn-faq" data-toggle="collapse" data-target="#faq{{ node.id }}">
      {{ label }}
    </span>
  </div>
  <div id="faq{{ node.id }}" class="collapse">
    <div class="faq-reponse">
      {{ content.body }}
    </div>
  </div>
</div>
