
<li class="resources-link-item news-item">
  <a  target="_blank" href="{{ content.field_link_1['#items'][0].url }}">
    <span class="title-link-download"> {{ label }}</span>
  </a>
  <span class="description-download">{{ node.getCreatedTime()|date("d F Y") }}</span>
</li>
