{% block paragraph %}
  {% block content %}
    <a  class="item-link"  href="{{ content.field_link['#items'][0].url  }}"> {{ content.field_link['#items'].title  }}</a>
  {% endblock %}
{% endblock paragraph %}
