<div class="swiper-slide">
  <div class="block-images">
    <div class="block-images-content">
      <div class="block-images-image">
        {{ content.field_image }}
      </div>
      <div class="block-images-description">
        <h1 class="slide-title">{{ content.field_title }}</h1>
      </div>
    </div>
  </div>
</div>
