{% if content.field_file["#items"][0].entity.uri.value %}
<div class="custom-link-item">
{% block paragraph %}
    {% block content %}
      <p>{{ content.field_title }}</p>
      <a target="_blank" class="item-link" href="{{ file_url(content.field_file["#items"][0].entity.uri.value) }}">{{ 'Download'|t }}</a>
    {% endblock %}
{% endblock paragraph %}
 </div>
{% endif %}
