{% block paragraph %}
  <div class="article-information">
    {% block content %}
      <h2>{{ content.field_title }}</h2>
      {{ content.field_texte }}
    {% endblock %}
  </div>
{% endblock paragraph %}
