/*text with deux colonne */
.resultat-3 .resultat-content-wrapper .resultat-title::before {
  background-image: url('../../images/resultat-3-double-tri.png');
}
.resultat-3 .resultat-content-wrapper .resultat-title h2 {
  color: #1a6aaa;
}
.resultat-3 .resultat-content-wrapper .resultat-description-wrapper {
  color: #374391;
  padding-top: 30px;
}
/*announce card*/
.resultat-3 .resultat-content-wrapper .resultat-announce-card {
  background-color: #374391;;
}
.resultat-3 .resultat-content-wrapper .resultat-description-wrapper .resultat-description p {
  margin-bottom: 0!important;
}
.resultat-3 .resultat-description-wrapper.row.one-col p:last-child {
  padding-top: 20px;
}
/* text with icon */
.resultat-3 .resultat-description-wrapper.row.two-col.with-icon p::before {
  background-image: url('../../images/triangle-violet.png');
}
.resultat-3  .resultat-description.col-12,.resultat-3  .resultat-description.col-lg-6 {
  padding-left: 0;
}

/*link*/
.programme-scrope.resultat-3 p a{
  color:#374391;
}
/*bloc countries*/
.resultat-3 .resultat-content-wrapper .resultat-flag-wrapper {
  border-bottom: 1px solid #374391;
}
.resultat-3 .resultat-content-wrapper .resultat-flag-wrapper .flag-list-wrapper .flag-item .flag-title {
  color: #374391;
}
.resultat-3 .resultat-content-wrapper .resultat-flag-wrapper .flag-list-wrapper .flag-item .flag-title::before {
  background-color: #374391;
}
/*End bloc countries*/
/*bloc sba*/
.resultat-3 .resultat-content-wrapper .resultat-sba-bloc-wrapper .sba-link {
  color: #374391;
}
/*End bloc sba*/
/*Block custom link*/
.resultat-3 .custom-link-wrapper .custom-link-items {
  background-color: #1a6aaa;
}
.resultat-3 .custom-link-wrapper .custom-link-items::before,.resultat-3 .custom-link-wrapper .custom-link-items::after {
  background-image: url('../../images/download-resultet-3-5.png');
}
.resultat-3 .custom-link-wrapper .custom-link-items a:hover {
  color: #374391;
}
@media screen and (max-width:991px){
.resultat-3 .resultat-content-wrapper .resultat-description-wrapper {
  padding: 20px 0;
  }
}